@font-face {
  font-family: STC;
  src: url(/static/fonts/STC-Regular.ttf);
}
@font-face {
  font-family: STC;
  src: url(/static/fonts/STC-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: STC;
  src: url(/static/fonts/STC-Bold.ttf);
  font-weight: bold;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  font-family: STC, verdana, sans-serif;
  box-sizing: border-box;
  background-color: $themeColor-Light;
}

p,
a {
  font-size: 1.6rem;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2.8rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.8rem;
}

.stc-h1 {
  font-size: 4.4rem;
  font-weight: 500;
  line-height: 0.91;
  letter-spacing: 1.3px;
  color: $primaryFontColor;
}

.stc-h4 {
  font-size: 2.4rem;
  font-weight: 500;
  line-height: 1.58;
  letter-spacing: 0.7px;
}